body, html {
    margin: 0;
    height: 100%;
    background-color: #F5F6FA;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
}

.search-field {
    border: none;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background: #fff;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 48px;
}

#query {
    padding-left: 0 !important;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table td.absorbing-column {
    width: 100%;
}

input:focus, textarea:focus, select:focus {
    outline: none;

}

input {
    border: none;
    line-height: 32px;
}

.row-marginal {
    margin-bottom: 8px;
}

.material-button {
    background-color: #4981FD;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 8px 14px;
    transition: box-shadow 0.1s ease-in-out;
    outline: none !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);

}

.material-button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.material-button:hover {
    /*box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 8px 1px rgba(26, 115, 232, 0.302);*/

    background-color: #3672fc;
    outline: 1px solid transparent;
    border: none;
}

.rectangle-icon-button {
    background-color: #F5F6FA;
    border: 1px solid rgba(106, 114, 132, 0.3);
    border-radius: 12px;
    text-decoration: none;
    transition: box-shadow 0.1s ease-in-out;
    outline: none !important;
    height: 48px;
    width: 48px;
    padding-top: 8px;

}

.rectangle-icon-button:hover:focus {
    background-color: #f5f5f5;
    border: 1px solid rgba(106, 114, 132, 0.3);
    background-color: rgba(106, 114, 132, 0.1);

}

.rectangle-icon-button:active {
    background-color: rgba(106, 114, 132, 0.2);
}

.custom-input {
    border: 1px solid #eaeaea;
    transition: border 0.1s ease-in-out;
}

.custom-input:focus {
    border: 1px solid #3672fc;
    box-shadow: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAv0lEQVRIS2NkoDFgpLH5DHgtyCpq+Q9ywLS+GqzqCMmD9NLXgpySZod//xjnAy1WIDPoHjAx/U+c0lN7AKYfxQdALz8ASsiTaThM2wNgkCrisgAc5pQC5DhD9wF9LMCVagj5DFuqwuqD4WMBupdJ5WNkNFINIKSeoAWEIhVdfvBFMqEgICRPMIgIGUBInqAFQz8OaOGDD0BD+Uk1GE39Q2BRA69PUMoiaIWzgII64SGwwknAWeFQ6HKs2mneqgAA2aDEGc4ZK3oAAAAASUVORK5CYII=") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

select {
    -webkit-appearance: none;
  -moz-appearance: none;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAoklEQVRIS+2TMQ6AIAxF25Oqo6M7o7NuuuJJERIwBFtaTdhwcSn/0UeL0PjDxvnQAaLhrui/onlZLSK4YzNTLUWqI98gHhpisOUgmjoNIHBekCIcnIPr3M1YdstOURmQQ7ThAVYdUwrib4r+bZI+9uapE3EPCMhjgdOSaxIBoZiCaMJFRflNcog2/BMgdRL+1LRwu6JSJK5rpaADRHtdkajoBp6fTxlXLDCKAAAAAElFTkSuQmCC") no-repeat;
    background-position-x: 100%;
  background-position-y: 5px;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem 2rem 1rem 1rem;
}

.hover-class:hover .hides{
    display:inline-block;
}

.hover-class .hides{
    display:none;
}

label {
    color: #31353d;
}