html, body {
    margin: 0;
    height: 100%;
    background-color: #F5F6FA;
    font-family: 'Roboto', sans-serif;
    color: #31353d;
}

button {


}


h5 {
    margin-bottom: 0;
}

.counter-number {
    font-weight: 500;
}


#loading-screen {

}

.loading-content {

}

.spin-refresh {

    -webkit-animation: antiClockwiseSpin 2s linear infinite;
    animation: antiClockwiseSpin 2s linear infinite;
}

@keyframes antiClockwiseSpin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.top-margin {
    margin-top: 8px;
}

.navbar-custom {
    background-color: #fff;
}

.sidebar {
    height: 100%;
    width: 212px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #edeff5;
    overflow-x: hidden;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #e1e3ea;
/*-webkit-box-shadow: 1px 0px 5px 0px rgba(209,209,209,0.3);*/
/*-moz-box-shadow: 1px 0px 5px 0px rgba(209,209,209,0.3);*/
/*box-shadow: 1px 0px 5px 0px rgba(209,209,209,0.3);*/

}

.menu-selected {
    color: #fff !important;
    background-color: #4981FD;
    /*border-right: 5px solid #4981FD;*/
    border-radius: 6px;
    text-align: start;

}

.menu-selected :hover {
    border-radius: 6px;
    color: #fff !important;
    background-color: #4981FD !important;
    /*border-right: 5px solid #4981FD;*/

    text-align: start;
}

.sidebar-menu {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #6A7284;
    display: block;
    line-height: 36px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}


.sidebar-menu:hover {
    color: #29294c !important;
    background-color: #DEE2EC;
    border-radius: 6px;
    text-decoration: none;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}


.material-icons.md-36 {
    font-size: 28px;
}


.background-custom-color {
    background-color: #DEE2EC;
}


.bottom {
    bottom: 72px;
    color: #8D81EF !important;

}


.main-content {
    height: 100vh;

    margin-left: 212px; /* Same as the width of the sidenav */
    padding: 12px 20px 10px;
}

.custom-cards {
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 1px -1px rgba(0, 0, 0, 0.12), 0 0px 1px 0 rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}


.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: 0 0;
    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
}

.icon-button :active,
.icon-button :focus,
.icon-button :hover {
    border-radius: 50%;

    background-color: rgba(172, 172, 172, 0.27);
}

.rotate-down {
    transform: rotate(0deg);
    transition: transform 300ms linear;
    transform-origin: center;
}

.rotate-up {
    transform: rotate(180deg);
    transition: transform 300ms linear;
    transform-origin: center;
}

.card-header-icon {
    vertical-align: middle;
    color: #4f5663;

}

.inline-icon {
    vertical-align: middle;
    color: #343436;
    padding: 0 0 0 6px;
}

.material-icons.md-24 {
    font-size: 24px;
}


.expand-more-icon {
    vertical-align: middle;
    color: #343436;
}

/*.icon-button {*/
/*    height: 36px;*/
/*    width: 36px;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    padding: 4px;*/
/*    background-color: rgba(172, 172, 172, 0.27);*/
/*}*/

.divider {
    height: 1px;
    background-color: #e1e3ea;
    border: none;
    margin: 12px 0px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/

}

.row-marginal {
    margin-bottom: 8px;
}


.no-border-list {
    border-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
}

#query {
    padding-left: 0 !important;
}


#advanced-search-container {
    z-index: 999999;
    position: absolute;
    border: none;
    padding: 12px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

}

.active-shadow {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#dropdown {

}

.bg-custom-blue {
    border-radius: 12px;
    background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);;
    /*background-image: linear-gradient(to left, #00c6fb 0%, #005bea 100%);*/
    -webkit-box-shadow: 11px 5px 27px -10px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 11px 5px 27px -10px rgba(0, 0, 0, 0.67);
    box-shadow: 11px 5px 27px -10px rgba(0, 0, 0, 0.67);
}

.material-button {
    background-color: #4981FD;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 8px 14px;
    transition: box-shadow 0.1s ease-in-out;
    outline: none !important;
}

.material-button:focus,
.material-button:hover {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);
    background-color: #4981fd;
    outline: 1px solid transparent;
    border: none;
}

.material-text-button:focus,
.material-text-button:hover {
    background-color: rgba(73, 129, 253, 0.1);
}

.material-text-button:active {
    background-color: rgba(73, 129, 253, 0.2);
}

.material-text-button:disabled {
    background-color: rgba(196, 196, 196, 0.1);
    color: #6A7284;
}

.material-text-button {
    background-color: rgba(73, 129, 253, 0.0);
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    color: #4981fd;
    border: none;
    padding: 6px 8px;
    transition: background-color 0.1s ease-in-out;
    outline: none !important;
}

.material-outline-image-button {
    background-color: #4981fd;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    color: white !important;
    display: flex;
    border: none;
    padding: 6px 8px;
    transition: background-color 0.1s ease-in-out;
    outline: none !important;
    font-size: 16px;
}

.material-outline-image-button:disabled {
    background-color: rgba(196, 196, 196, 0.1) !important;
    color: #6A7284 !important;
}
.material-outline-image-button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.material-outline-image-button:hover {
    /*box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 8px 1px rgba(26, 115, 232, 0.302);*/

    background-color: #3672fc;
    outline: 1px solid transparent;
    border: none;
}


table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table td.absorbing-column {
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.001) inset !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.search-field:focus {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 1px -1px rgba(0, 0, 0, 0.12), 0 0px 1px 0 rgba(0, 0, 0, 0.20);
    background-color: #fff;
}

.text-field {
    border: none;
    background: none;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6A7284;
    opacity: 1; /* Firefox */
}


.text-field:focus {
    outline-width: 0;
}

.custom-cards {
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 1px -1px rgba(0, 0, 0, 0.12), 0 0px 1px 0 rgba(0, 0, 0, 0.20);

}

.marginal {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}


.card-custom-title {
    font-size: 1.25rem !important;
    margin-bottom: 0 !important;
}

.custom-badge {
    background-color: #005fd1;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 4px;
    display: inline-block;
    position: absolute;

}

.custom-highlighter {
    height: 18px;
    width: 36px;
    background-color: rgba(73, 129, 253, 0.27);
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
}

.dot {
    height: 32px;
    width: 32px;
    background-color: rgba(73, 129, 253, 0.27);
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
}

.card-header {
    background: white;
    border-radius: inherit !important;
    border-bottom: 1px solid #e2e2e2 !important;
    color: #3a3d49;
    padding: 16px 20px !important;
}

.total-dot {
    height: 32px;
    width: 32px;
    background-color: rgba(86, 217, 254, 0.27);
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
}

.red-dot {
    height: 32px;
    width: 32px;
    background-color: rgba(241, 7, 94, 0.27);
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
}

.grey-dot {
    height: 32px;
    width: 32px;
    background-color: rgba(104, 104, 104, 0.27);
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
}


.loader {
    border: 4px solid #fff;
    border-radius: 50%;
    border-top: 4px solid #4981FD;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-field {
    border: none;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background: #fff;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 48px;
}

#query {
    padding-left: 0 !important;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table td.absorbing-column {
    width: 100%;
}

input:focus, textarea:focus, select:focus {
    outline: none;

}

input {
    border: none;
    line-height: 32px;
}


.material-button {
    background-color: #4981FD;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    color: #fff;
    padding: 8px 14px;
    transition: box-shadow 0.1s ease-in-out;
    outline: none !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);

}

.material-button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.material-button:hover {
    /*box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 8px 1px rgba(26, 115, 232, 0.302);*/

    background-color: #3672fc;
    outline: 1px solid transparent;
    border: none;
}

.rectangle-icon-button {
    background-color: #F5F6FA;
    border: 1px solid rgba(106, 114, 132, 0.3);
    border-radius: 12px;
    text-decoration: none;
    transition: box-shadow 0.1s ease-in-out;
    outline: none !important;
    height: 48px;
    width: 48px;
    padding-top: 8px;

}

.rectangle-icon-button:hover:focus {
    background-color: #f5f5f5;
    border: 1px solid rgba(106, 114, 132, 0.3);
    background-color: rgba(106, 114, 132, 0.1);

}

.rectangle-icon-button:active {
    background-color: rgba(106, 114, 132, 0.2);
}

.custom-input {
    border: 1px solid #eaeaea;
    transition: border 0.1s ease-in-out;
}

.custom-input:focus {
    border: 1px solid #3672fc;
    box-shadow: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAv0lEQVRIS2NkoDFgpLH5DHgtyCpq+Q9ywLS+GqzqCMmD9NLXgpySZod//xjnAy1WIDPoHjAx/U+c0lN7AKYfxQdALz8ASsiTaThM2wNgkCrisgAc5pQC5DhD9wF9LMCVagj5DFuqwuqD4WMBupdJ5WNkNFINIKSeoAWEIhVdfvBFMqEgICRPMIgIGUBInqAFQz8OaOGDD0BD+Uk1GE39Q2BRA69PUMoiaIWzgII64SGwwknAWeFQ6HKs2mneqgAA2aDEGc4ZK3oAAAAASUVORK5CYII=") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAoklEQVRIS+2TMQ6AIAxF25Oqo6M7o7NuuuJJERIwBFtaTdhwcSn/0UeL0PjDxvnQAaLhrui/onlZLSK4YzNTLUWqI98gHhpisOUgmjoNIHBekCIcnIPr3M1YdstOURmQQ7ThAVYdUwrib4r+bZI+9uapE3EPCMhjgdOSaxIBoZiCaMJFRflNcog2/BMgdRL+1LRwu6JSJK5rpaADRHtdkajoBp6fTxlXLDCKAAAAAElFTkSuQmCC") no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem 2rem 1rem 1rem;
}

.hover-class:hover .hides {
    display: inline-block;
}

.hover-class .hides {
    display: none;
}

label {
    color: #31353d;
}

.small-text {
    font-size: 12px;
    width: fit-content;
}

.regular-text {
    font-size: 16px;
}

.med-text {
    font-size: 18px;
}

.large-text {
    font-size: 22px;
}

.xl-text {
    font-size: 24px;

}

.green-light-background {
    background-color: rgba(0, 200, 81, 0.10);
    border-radius: 4px;
    padding: 4px 8px;
    color: #007E33;
    margin-left: 8px;
    height: 24px;
    font-size: 14px;
}

.yellow-light-background {
    background-color: rgba(255, 187, 51, 0.10);
    border-radius: 4px;
    padding: 4px 8px;
    color: #FF8800;
    margin-left: 8px;
    height: 24px;
    font-size: 14px;

}

.red-light-background {
    background-color: rgba(255, 68, 68, 0.1);
    border-radius: 4px;
    padding: 4px 8px;
    color: #CC0000;
    margin-left: 8px;
    height: 24px;
    font-size: 14px;

}

.center {
    margin: auto;
}

.list-group-item {
    margin-bottom: 12px;
    border-radius: 8px !important;
}


.outline-material-button {
    background-color: transparent;
    border-radius: 6px;
    text-decoration: none;
    color: #4981fd;
    padding: 8px 14px;
    transition: background-color 300ms ease-in-out;
    border: 1px solid #4981fd;
    outline: none !important;
    font-weight: 500;

}

.outline-material-button:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.outline-material-button:hover {
    /*box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);*/
    background-color: #4981fd;
    color: #fff;
}

#history_content {
    padding-bottom: 12px;
}


.icon-shadow {
box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
}