<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Hello, world!</title>
    <link rel="icon" href="{{url_for('static', filename='img/favicon.png') }}" type="image/png" sizes="16x16">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<nav class="navbar fixed-top navbar-light navbar-custom justify-content-start no-gutters">
    <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='img/favicon.png') }}" width="48" height="48" alt="">
    </a>
    <div class="col-5 offset-3 align-content-between ">
        <form method="POST" class="" id="search" style="margin-bottom: 6px">
            <div class="search-field d-flex align-items-center" id="search-field">
                <table class=" ">
                    <tr>
                        <td style="vertical-align:bottom; ">
                            <i class="material-icons"
                               style="color:#6A7284;margin-left: 4px;margin-right: 4px">search</i>
                        </td>
                        <td class="absorbing-column no-gutters">
                            <input name="query" id="query" class="col-12 text-field"
                                   placeholder="Search with keyword or account name" onfocus="addShadow()"
                                   autocomplete="off"
                            >

                        </td>
                        <td>
                            <div class="dropdown-button" id="drop-down-button-container">
                                <span class="custom-badge"></span>

                                <button id="dropdownButton" onclick="toggleAdvancedSearchOption()" class="icon-button"
                                        type="button"
                                        style="outline: none;text-align:center;border: none;"><i id="dropdown-menu-icon"
                                                                                                 class="material-icons md-36"
                                                                                                 style="color:#6A7284;">arrow_drop_down</i>
                                </button>
                            </div>

                        </td>
                        <td>
                            <div class="loader" id="loader" style="display: none; height: 36px;width: 36px"></div>
                        </td>
                    </tr>
                </table>


            </div>

            <!--        <button onclick="return loadDoc()" class="btn btn-outline-success my-2 my-sm-0">Submit</button>-->
        </form>
        <div id="dropdown" class="row no-gutters" style=" display: none">
            <div class=" col-12">
                <div id="advanced-search-container" class="col-12">
                    <form id="advanced-search-form">
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="start-date-picker">Start date<span data-toggle="tooltip"
                                                                               data-placement="right"
                                                                               title="Search for tweets from this date."><i
                                        class="material-icons md-24 inline-icon">help_outline</i></span></label>
                                <input type="date" class="form-control" id="start-date-picker">
                            </div>
                            <div class="col">
                                <label for="end-date-picker">End date <span data-toggle="tooltip"
                                                                               data-placement="right"
                                                                               title="Tweets will be searched till this date."><i
                                        class="material-icons md-24 inline-icon">help_outline</i></span></label>
                                <input type="date" class="form-control" id="end-date-picker">
                            </div>

                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="step-input">Step size<span data-toggle="tooltip"
                                                                               data-placement="right"
                                                                               title="(X-axis) Tweets will be searched in these steps. For ex. if 'weeks' option is selected, tweets will be searched by weeks timespan, until end date is reached."><i
                                        class="material-icons md-24 inline-icon">help_outline</i></span></label>
                                <select class="form-control" id="step-input">
                                    <option value="0">Days</option>
                                    <option selected value="1">Weeks</option>
                                    <option value="2">15 days</option>
                                    <option value="3">Month</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="tweet-frequency">Tweet frequency in step <span data-toggle="tooltip"
                                                                               data-placement="right"
                                                                               title="(Y-axis) Number of maximum tweets to search in each steps. "><i
                                        class="material-icons md-24 inline-icon">help_outline</i></span></label>
                                <input type="number" class="form-control" id="tweet-frequency">
                            </div>
                        </div>
                        <div class="form-row justify-content-end">
                            <div class="col">
                                <button type="submit" onclick="loadDoc()" class="material-button float-right">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</nav>
<div class="container-fluid">
    <div class="sidebar navbar-custom">
        <a href="#home" class="menu-selected"><i class="material-icons md-36">home</i></a>
        <a href="#services"><i class="material-icons md-36">watch_later</i></a>
        <a href="#clients"><i class="material-icons md-36">person</i></a>
        <a href="#contact" class="bottom"><i class="material-icons md-36">settings</i></a>
    </div>

    <div class="main ">

        <div id="content">
            <div class="row marginal ">

                <div class="col">
                    <div class="card custom-cards">
                        <div class="card-body" style="padding:12px 8px;">
                            <div class="row no-gutters d-flex align-items-center ">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="total-dot">
                                        <i class="material-icons md-36 "
                                           style="color: #11C8FC">all_inclusive</i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text"><span id="total-tweets-number"><b>--</b></span><br>tweets
                                        scraped</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-cards">
                        <div class="card-body" style="padding:12px 8px;">
                            <div class="row no-gutters d-flex align-items-center ">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="dot">
                                        <i class="material-icons md-36 "
                                           style="color: #4981FD">trending_up</i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text"><span id="positive-tweets-number"><b>--</b></span><br>positive
                                        tweets </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-cards">
                        <div class="card-body" style="padding:12px 8px;">
                            <div class="row no-gutters d-flex align-items-center ">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="red-dot">
                                        <i class="material-icons md-36 "
                                           style="color: #F1075E">trending_down</i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text"><span id="negative-tweets-number"><b>--</b></span><br>negative
                                        tweets </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card custom-cards">
                        <div class="card-body" style="padding:12px 8px 12px 4px;">
                            <div class="row no-gutters d-flex align-items-center ">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="grey-dot">
                                        <i class="material-icons md-36 "
                                           style="color: rgba(104, 104, 104, 100);">trending_flat</i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <p class="card-text"><span id="neutral-tweets-number"><b>35</b></span><br>neutral
                                        tweets </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>

            </div>
            <div class="row marginal">
                <div class="col-8">
                    <div class="card custom-cards">
                        <div class="card-header">
                            <h5><i class="material-icons card-header-icon">timeline</i>Overview</h5>
                        </div>
                        <div class="card-body">

                            <div id="container" class="container">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card custom-cards">
                        <div class="card-header">
                            <h5><i class="material-icons card-header-icon">link</i>Top Links</h5>
                        </div>
                        <ul class="list-group list-group-flush" id="link-list-id">

                        </ul>
                        <div id="view-all-button" class="card-body text-right"
                             style="padding: 10px 8px; border-top: 1px solid rgba(0,0,0,.125);display: block;">
                            <a href="#" class="card-link " data-toggle="collapse" onclick="expandListClicked()"
                               data-target="#remaining-list" style="color: #4981FD;font-weight: bold"><span
                                    id="viewAllLink">View All</span>
                                <i id="expand-icon" class="material-icons md-36 expand-more-icon"
                                   style="color:#6A7284;">expand_more</i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row marginal">
                <div class="col-6">
                    <div class="card custom-cards">
                        <div class="card-header">
                            <h5><i class="material-icons card-header-icon">pie_chart</i>Top 10 words</h5>
                        </div>
                        <div class="card-body">
                            <div id="topWords" class="container">
                                <canvas id="wordFrequencyChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<script type="text/javascript">-->
<!--    let datalist = JSON.parse('{{ response | tojson | safe}}');-->

<!--</script>-->
<script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript">
    $("#query").on("keydown", function (e) {
        if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
            //alert('called')
            loadDoc();
        }
    });
    $(document).ready(function () { // Wait until document is fully parsed
        $("#search").on('submit', function (e) {
            e.preventDefault();
        });
        $("#advanced-search-form").on('submit', function (e) {
            e.preventDefault();
        });
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
<!--
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{{url_for('static', filename='img/logo.png') }}" width="30" height="30" alt="">
  </a>
</nav>

<div id="container" class="container">
    <canvas id="myChart"></canvas>
</div>
<form method="POST">
    <input name="query" id="query">
    <button onclick="return loadDoc()">Submit</button>
</form>



-->
